{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]___[hash:base64:5]",
        "webpackHotModuleReloading": true
      }
    ]
  ]
}
