{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "object-to-json-parse",
      {
        "minJSONStringSize": 256
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
