{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 10,
    "sourceType": "module"
  },

  "plugins": ["react"],
  "rules": {
    "implicit-arrow-linebreak": "off",
    "no-trailing-spaces": "off",
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/jsx-uses-vars": [1],
    "react/jsx-uses-react": "error",
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": [2, "never"],
    "comma-dangle": [2, "never"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
